@import '../../../../../node_modules/office-ui-fabric-core/dist/sass/References';
@import '../../styles/shared-styles.scss';
@import '../mgt-file-list/mgt-file-list.theme.scss';

$file-list-border-radius: var(--file-list-border-radius, 8px);
$file-list-box-shadow: var(--file-list-box-shadow, var(--elevation-shadow-card-rest));
$file-list-border: var(--file-list-border, none);
$file-list-padding: var(--file-list-padding, 0);
$file-list-margin: var(--file-list-margin, 0);

$show-more-button-font-size: var(--show-more-button-font-size, 12px);
$show-more-button-padding: var(--show-more-button-padding, 0px);
$show-more-button-border-bottom-right-radius: var(
  --show-more-button-border-bottom-right-radius,
  $file-list-border-radius
);
$show-more-button-border-bottom-left-radius: var(
  --show-more-button-border-bottom-left-radius,
  $file-list-border-radius
);

$progress-ring-size: var(--progress-ring-size, 24px);

:host {
  font-family: $font-family;
  font-size: $font-size;
  color: $color;
}

:host {
  a {
    color: $color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .file-item {
    width: fit-content;
  }

  .file-grid {
    display: grid;
    grid-template-columns: [col-start] auto auto 1fr auto auto auto [col-end];
    grid-template-rows: [header-start] auto [header-end row-start] auto [row-end];
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    overflow: hidden;
  }

  .header,
  .cell {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header {
    font-weight: 600;
    height: 42px;
    grid-row: header;
  }

  .file-row {
    display: contents;
    &:hover > .header,
    &:hover > .cell {
      background-color: var(--file-background-color-hover);

      .mgt-file-item {
        --file-background-color: var(--file-background-color-hover, var(--neutral-layer-2));
      }
      .file-selector {
        border: var(--neutral-foreground-rest) solid 1px;
      }
    }
  }

  .file-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .selected {
    background-color: var(--file-background-color-active, var(--neutral-layer-3));
    .mgt-file-item {
      --file-background-color: var(--file-background-color-active, var(--neutral-layer-3));
    }
  }
  .file-selector {
    margin: auto;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    overflow: hidden;
    border-color: var(--neutral-fill-strong-rest);
    background-color: var(--neutral-fill-rest);
    border: transparent solid 1px;
    svg {
      background-color: var(--neutral-fill-rest);
      fill: var(--neutral-fill-rest);
    }
    &:hover {
      svg {
        background-color: var(--neutral-fill-strong-hover);
      }
    }

    &.selected {
      border-color: var(--neutral-fill-rest);
      svg {
        fill: var(--accent-fill-rest);
      }
      &:hover {
        svg {
          background-color: var(--accent-fill-rest);
          fill: var(--neutral-fill-rest);
        }
      }
    }
  }
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
